{#
Plugin Name : StripeRec
Copyright (C) 2020 Subspire. All Rights Reserved.
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<script>
$(function() {    
    $('ul.ec-navlistRole__navlist').append(
    '<li class="ec-navlistRole__item {% if mypageno|default('') == 'mypage_stripe_rec' %}active{% endif %}">' +
    '<a href="{{ url('mypage_stripe_rec') }}">{{ 'stripe_recurring.mypage.recurring.tab_label'|trans }}</a>' +
    '</li>' +
    '<li class="ec-navlistRole__item {% if mypageno|default('') == 'mypage_stripe_schedule' %}active{% endif %}">' +
    '<a href="{{ url('mypage_stripe_schedule') }}">{{ 'stripe_recurring.mypage.schedule.tab_label'|trans }}</a>' +
    '</li>'
    );
});
</script>
